body {
    font-family: Arial, sans-serif;
    background-color: #6c6c6c;
}

.container {
    display: flex;
    flex-direction: column; /* Arrange children vertically */
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #000000;
    background-color: #303030;
    border-radius: 20px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 3.5);
    align-items: center;
}

.top-container {
    display: flex;
    width: 100%; /* Occupy full width */
    justify-content: space-between; /* Distribute items evenly */
}

#call-buttons {
    display: flex;
    justify-content: space-around;
    padding: 20px; /* Adjust as needed */
}

#call-buttons button {
    margin: 0 10px; /* Adjust as needed */
}
.off {
    text-decoration: line-through;
    background-color: rgb(87, 87, 87);
}

.left-container,
.webcam-container {
    width: 48%; /* Both containers share the same width */
    padding: 20px;
    border: 2px solid #7b7d7b60;
    border-radius: 20px;
    background-color: #000000;
    color: #ffffff;
    overflow-y: auto;
}

.webcam-container {
    margin-left: 20px;
    width: 60%; /* Adjust width based on content */
}

.right-container {
    width: 90%; /* Occupy full width */
    padding: 20px;
    margin-top: 20px; /* Add margin-top to create space between left-container/webcam-container and right-container */
    border: 2px solid #7b7d7b60;
    border-radius: 20px;
    background-color: #000000;
    color: #ffffff;
    overflow-y: auto;
}


#video {
    display: block;
    margin: 0 auto;
    border-radius: 10px; /* Rounded edges for the video */
    border: 2px solid #7b7d7b60;
}

#startRecording{
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    border: none;
    border-radius: 10px; /* Rounded edges for the buttons */
    background-color: #059300;
    color: #ffffff;
    cursor: pointer;
}

#hangup {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    border: none;
    border-radius: 10px; /* Rounded edges for the buttons */
    background-color: #ff0008;
    color: #ffffff;
    cursor: pointer;
}

#startRecording:hover{
    background-color: #017001;
}

#hangup:hover {
    background-color: #9a0101;
}

/* Style the Transcript content */
.transcript-content {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: #000000;
    color: #ffffff;
    overflow-y: auto;
    flex: 1; /* Added flex property */
}

/* Optional: Style for button and textarea */
.chat-btn {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#user-response {
    width: calc(100% - 90px); /* Adjust width based on button size */
    margin-right: 10px;
}

#chat-container {
    min-height: 450px;
    border: 2px solid #7b7d7b60;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 20px;
    overflow-y: scroll;
    color: azure;
    flex: 1;
}

#input-container {
    margin-top: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-btn {
    font-size: 20px;
    background-color: #161616;
    color: #fff;
    border-radius: 50px;
    margin-left: 10px;
}

.chat-btn:hover {
    background-color: #000000;
    transition-duration: 500ms;
    rotate: -90deg;
}

#user-response {
    background-color: #000000;
    color: #ffffff;
    border-radius: 30px;
    scroll-padding: 10px;
    text-indent: 20px;
    padding-block-end: 1%;
    width: 70%;
    height: 40px;
    padding-right: 50px;
    font-size: 15px;
    border-radius: 30px;
}

#controls {
    text-align: center;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#upload-container {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-btn {
    background-color: #14b542;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.upload-btn:hover {
    background-color: #006e14;
    transition-duration: 500ms;
}

button {
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #d02626;
    color: #fff;
    border-radius: 50px;
    outline: none;
}

button:hover {
    background-color: #3e0a0a;
    transition-duration: 500ms;
}


#audioPlayer {
    position: absolute;
    left: -9999px;
    top: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}