<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='/scripts/script.js') }}"></script>
</head>

<body>
    <div class="container">
        <div class="top-container">
            <div class="webcam-container">
                <video id="video" width="640" height="480" autoplay muted></video>
                <div id="call-buttons">
                <button id="startRecording">Start Interview</button>
                <button id="toggle-mic" onclick="toggleMic()">Mic</button>
                <button id="toggle-camera" onclick="toggleCamera()">Camera</button>
                <button id="hangup">Stop Interview and Save</button>
                </div>
                <div id="interim-transcript"></div>
                <div id="transcript" class="transcript-content"></div>
            </div>
            <div class="left-container">
                <div id="chat-container"></div>
                <div id="input-container">
                    <textarea id="user-response" placeholder="Reply to Friday..."></textarea>
                    <button id="submit-response" class="chat-btn">➜</button>
                </div>
                <div id="upload-container">
                    <form id="upload-form" action="{{ url_for('upload_file') }}" method="post"
                        enctype="multipart/form-data">
                        <input type="file" name="resume" id="resume" required>
                        <input type="submit" value="Upload Resume" class="upload-btn" onclick="return checkFileSelected()">
                    </form>
                    <!-- <p id="upload-message" style="display: none; color: green;"></p> -->
                </div>
            </div>
            <br>
        </div>
    </div>
    <script src="{{ url_for('static', filename='/scripts/webcam.js') }}"></script>
    <script src="{{ url_for('static', filename='/scripts/Interview.js') }}"></script>


    <audio id="audioPlayer" controls>
        Your browser does not support the audio element.
    </audio>

</body>
</html>